@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

body {
	background: linear-gradient(45deg, rgb(0, 13, 255), #0d00ff, #7fa1d5 , #208f9e, #0f976e, #c4d814); 
	background-size: 500% 500%;
	animation: gradient 15s ease-in-out infinite;
}

.my-name-one h1 {
  font-family: 'Roboto', sans-serif;
}

.typed {
  height: 5rem;
  font-size: 90px;
  border-right: 1rem solid #E4E4E7;
  animation: typingDesktop, blink-caret 5s step-start infinite;
  animation-duration: 1.5s;
  animation-timing-function: steps(15, end);
  animation-fill-mode: forwards;
}

.my-name-one p {
  font-size: 16px;
}

.more-about-me img {
  height: 2rem;
  transition: height 0.2s ease-in-out;
}

.more-about-me img:hover {
  height: 3rem;
}

.delayed-message {
  opacity: 0;
  transition: opacity 1s ease; /* Adjust the transition duration and timing function as needed */
}

.delayed-message.visible {
  opacity: 1;
}

/* <----- MEDIA QUERIES -----> */

@media (max-width:1024px) {
  #about-me-main-wrapper {
    padding-top: 28rem !important;
  }
  .typed {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing, blink-caret .5s step-end infinite;
    font-size: 88px;
    animation-duration: 1.5s;
    animation-timing-function: steps(15, end);
    animation-fill-mode: forwards;
  }
  .my-name-one p {
    font-size: 16px;
  }
}

@media (max-width:540px) {
  .typed {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typingMediumScreen, blink-caret .5s step-end infinite;
    font-size: 40px;
    animation-duration: 1.5s;
    animation-timing-function: steps(15, end);
    animation-fill-mode: forwards;
  }
}

@media (max-width:375px) {
  .typed {
    width: 0;
    height: 4rem;
    overflow: hidden;
    white-space: nowrap;
    animation: typingSmallScreen, blink-caret .5s step-end infinite;
    font-size: 35px;
    animation-duration: 1.5s;
    animation-timing-function: steps(15, end);
    animation-fill-mode: forwards;
  }
}

@media (max-width:280px) {
  .typed {
    width: 0;
    height: 4rem;
    overflow: hidden;
    white-space: nowrap;
    animation: typingSmallerScreen, blink-caret .5s step-end infinite;
    font-size: 29px;
    animation-duration: 1.5s;
    animation-timing-function: steps(15, end);
    animation-fill-mode: forwards;
  }
}

/* <----- ANIMATIONS -----> */

@keyframes typingDesktop {
  from { width: 0 }
  to { width:48.5rem }
}

@keyframes typing {
  from { width: 0 }
  to { width:47rem }
}

@keyframes typingMediumScreen {
  from { width: 0 }
  to { width:22rem }
}

@keyframes typingSmallScreen {
  from { width: 0 }
  to { width:19.5rem }
}

@keyframes typingSmallerScreen {
  from { width: 0 }
  to { width:16.5rem }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #E4E4E7 }
}