.projects-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.project-tools-used {
    height: 4rem;
}

.tool-used {
    height: 3.5rem;
}

.tool-used img {
    height: 2rem;
}

.tool-axios {
    width: 10rem;
}

@media (max-width:375px) {
    .tool-used img {
        width: 4rem;
        /* outline: 2px solid white; */
    }
    .project-title {
        width: 15rem !important;
        font-size: 20px !important;
    }
}